# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.log

# User-specific files
*.user
*.userosscache
*.suo
*.vscode/
.vs/

# Mac files
.DS_Store

# Windows files
Thumbs.db

# Rider files
.idea/

# Node.js modules
node_modules/

# Npm package lock
package-lock.json
