<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 20px;">
    <h1>Password Reset</h1>
    <p>Hi {firstName},</p>
    <p>We received a request to reset your password. Please use the code below to identify yourself and proceed with the password reset:</p>
    <p style="color: rgba(0, 167, 111, 1); font-size: 32px; font-weight: 800; line-height: 43.58px; margin: 16px 0 0;">{code}</p>
    <p>To complete the password reset process, please click the link below:</p>
    <p><a href="{link}">Verify your account</a></p>
    <p>If you didn't request this, please ignore this email. Your account security is our priority.</p>
    <p>If you need further assistance, feel free to contact our support team.</p>
    <p>Best regards,<br>Your Company</p>
</body>
</html>
